*{
margin: 0;
width:100%;
height:auto;
font-family: Arial;
border: border-box;
}
.tech-photo-back{
width:100%;
height:1000px;
background-color:black;
}
.techlogo{
position:absolute;
margin-top:130px;
margin-left:250px;
width:60%;
height:31%;
background-size:cover; 
visibility: hidden;
}
#logo{
  width: 100%;
  max-width: 300px;
  visibility:visible;
}
#logo {
  animation: rotate-logo 10s linear infinite;
}
@keyframes rotate-logo {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
.box{
position:relative;
width:100%px;
height:1700px;
background:transparent;
border:1px solid #fff;
z-index:1;

}
.box:before {
content: '';
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.5);
z-index:-1;
}
.menubar{
width:95%;
height:55px;
border-radius:25px;
background-color:#C7C8CC;
margin-top:15px;
margin-left:15px;
position:fixed;
display:flex;
justify-content:space-evenly;
align-items:center;
}
.circle-logo{
width:47px;
height:47px;
margin-left:-8px;
border-radius:50%;
background-image:url("images/techlogo.jpg");
background-size:cover;
}
.menu-title{
width:80%;
height:40px;
display:flex;
align-items:center;
justify-content:space-evenly;
margin-left:10px;
font-size:25px;
}
.outer-bar{
width:43px;
height:43px;
}
.bar{
background-image:url("images/bar.png");
background-size:cover;
width:100%;
height:100%;
}
.main-box-text{
text-align:center;
margin-top:700px;
}
.main-box-text h1{
color:#FF6500;
font-size:40px;

}
.main-box-text p{
color:white;
}

.apply-btn{
width:100%;
height:100px;
margin-top:130px;
display:flex;
align-items:center;
justify-content:space-evenly;
}
.apply-btn button{
width:220px;
height:100px;
font-size:17px;
border-radius:30px;
color:white;
border:1px solid white;
background:rgba(0,0,0,.0);
}
.btn:hover{
animation:pulsate 2s ease-in-out;
}
@keyframes pulsate {
     30%{
      box-shadow:
      0 0 50px #5ddcff;
      animation:infinite;
      }
      
   }
.content{
background-color:#FEECE2;
width:100%;
height:4000px;

}
.outer-1{
display:flex;
justify-content:space-evenly;

}
.who-we-are{
width:90%;
height:570px;
margin-top:50px;
background-color:white;
border-radius:30px;
}
.who-we-are img{
border-radius:30px;
height:300px;
}
.who-we-are h1{
font-size:35px;
margin-top:20px;
margin-left:20px;
height:80px;
}
.passage{
margin-left:20px;
width:90%;
Font-family:arial;
font-size:20px;
}

.outer-2{
margin-top:70px;
width:100%;
height:500px;
background-color:white;
display:flex;
justify-content:space-evenly;
}
.space{
height:450px;
width:360px;
position:absolute;
margin-top:100px;
text-align:center;
}
.outer-2 p{
font-family:arial;
font-size:28px;
}
.space img{
margin-top:20px;
width:80px;
height:80px;
border-radius:50%;
}
.faq{
margin-top:90px;
font-family:arial;
font-size:35px;
text-align:center;
}
.outer-3{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.how-do-i-apply{
width:90%;
height:260px;
background-color:white;
border-radius:30px;
}
.how-do-i-apply h2{
margin-top:20px;
margin-left:20px;
height:90px;
}

.outer-4{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.What-tech-roles{
width:90%;
height:300px;
background-color:white;
border-radius:30px;
}
.What-tech-roles h2{
margin-top:20px;
margin-left:20px;
height:90px;
}
.outer-5{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.fee-to-apply{
width:90%;
height:260px;
background-color:white;
border-radius:30px;
}
.fee-to-apply h2{
margin-top:20px;
margin-left:20px;
height:70px;
}






















@media screen and (max-width: 600px){

.tech-photo-back{
width:100%;
height:700px;
background-color:black;
}
.techlogo{
position:absolute;
margin-top:150px;
margin-left:70px;
width:60%;
height:31%;
background-size:cover; 
visibility: hidden;
} 
 #logo{
  width: 100%;
  max-width: 300px;
  visibility:visible;
}
#logo {
  animation: rotate-logo 10s linear infinite;
}
@keyframes rotate-logo {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}    
.box{
position:relative;
width:359px;
height:700px;
background:transparent;
border:1px solid #fff;
z-index:1;

}
.box:before {
content: '';
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.5);
z-index:-1;

}
.menubar{
width:95%;
height:55px;
position:fixed;
border-radius:25px;
background-color:#C7C8CC;
margin-top:15px;
margin-left:8px;
display:flex;
align-items:center;
justify-content:space-evenly;
}
.circle-logo{
width:47px;
height:47px;
margin-left:-5px;
border-radius:50%;
background-image:url("images/techlogo.jpg");
background-size:cover;
}
.menu-title{
width:210px;
height:40px;
font-size:18px;
}
.outer-bar{
width:43px;
height:43px;
}
.bar{
background-image:url("images/bar.png");
background-size:cover;
width:100%;
height:100%;
}
.main-box-text{
text-align:center;
margin-top:420px;
}
.main-box-text h1{
color:#FF6500;
font-size:40px;

}
.main-box-text p{
color:white;
}

.apply-btn{
width:100%;
height:100px;
margin-top:30px;
display:flex;
align-items:center;
justify-content:space-evenly;
}
.apply-btn button{
width:150px;
height:55px;
font-size:17px;
border-radius:30px;
color:white;
border:1px solid white;
background:rgba(0,0,0,.0);
}
.btn:hover{
animation:pulsate 2s ease-in-out;
}
@keyframes pulsate {
     30%{
      box-shadow:
      0 0 40px #5ddcff;
      animation:infinite;
      }
      
   }
.content{
background-color:#FEECE2;
width:100%;
height:4000px;
}


.outer-1{
display:flex;
justify-content:space-evenly;

}
.who-we-are{
width:90%;
height:570px;
margin-top:50px;
background-color:white;
border-radius:30px;
}
.who-we-are img{
border-radius:30px;
height:300px;
}
.who-we-are h1{
font-size:35px;
margin-top:20px;
margin-left:20px;
height:80px;
}
.passage{
margin-left:20px;
width:90%;
Font-family:arial;
font-size:20px;
}

.outer-2{
margin-top:70px;
width:100%;
height:500px;
background-color:white;
}
.space{
height:450px;
width:360px;
position:absolute;
margin-top:100px;
text-align:center;
}
.outer-2 p{
font-family:arial;
font-size:28px;
}
.space img{
margin-top:20px;
width:80px;
height:80px;
border-radius:50%;
}
.faq{
margin-top:90px;
font-family:arial;
font-size:35px;
text-align:center;
}
.outer-3{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.how-do-i-apply{
width:90%;
height:260px;
background-color:white;
border-radius:30px;
}
.how-do-i-apply h2{
margin-top:20px;
margin-left:20px;
height:90px;
}

.outer-4{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.What-tech-roles{
width:90%;
height:300px;
background-color:white;
border-radius:30px;
}
.What-tech-roles h2{
margin-top:20px;
margin-left:20px;
height:90px;
}
.outer-5{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.fee-to-apply{
width:90%;
height:260px;
background-color:white;
border-radius:30px;
}
.fee-to-apply h2{
margin-top:20px;
margin-left:20px;
height:70px;
}
.outer-6 {
width:100%;
margin-top:160px;
display:flex;
justify-content:space-evenly;
}
.Apply-Now{
width:90%;
height:500px;
}
.Apply-Now p{
margin-top:40px;
font-size:20px;
}

.Apply-Now img{
border-radius:30px;
margin-top:50px;
}
.outer-7 {
width:100%;
margin-top:100px;
display:flex;
justify-content:space-evenly;
}
.opportunities{
width:90%;
height:500px;
}
.opportunities p{
margin-top:40px;
font-size:20px;
}

.opportunities img{
border-radius:30px;
margin-top:50px;
}
}
