*{
margin: 0;
width:100%;
height:auto;
font-family: Arial;
border: border-box;
}
.tech-photo-back{
width:100%;
height:1300px;
background-color:black;
}
.techlogo{
position:absolute;
margin-top:130px;
margin-left:250px;
width:60%;
height:31%;
background-size:cover; 
visibility: hidden;
}
#logo{
  width: 100%;
  max-width: 500px;
  visibility:visible;
}
#logo {
  animation: rotate-logo 10s linear infinite;
}
@keyframes rotate-logo {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
.box{
position:relative;
width:100%px;
height:1300px;
background:transparent;
border:1px solid #fff;
z-index:1;

}
.box:before {
content: '';
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.5);
z-index:-1;
}
.menubar{
width:95%;
height:55px;
border-radius:25px;
background-color:#C7C8CC;
margin-top:15px;
margin-left:15px;
position:fixed;
display:flex;
justify-content:space-evenly;
align-items:center;
}
.circle-logo{
width:47px;
height:47px;
margin-left:-8px;
border-radius:50%;
background-size:cover;
}
.circle-logo img{
width:47px;
height:47px;
border-radius:50%;
}
.menu-title{
width:80%;
height:40px;
display:flex;
align-items:center;
justify-content:space-evenly;
margin-left:10px;
font-size:25px;
}
.outer-bar{
width:43px;
height:43px;
}
.bar{
background-image:url("images/bar.png");
background-size:cover;
width:100%;
height:100%;
}
.main-box-text{
text-align:center;
margin-top:700px;
}
.main-box-text h1{
color:#FF6500;
font-size:40px;

}
.main-box-text p{
color:white;
}

.apply-btn{
width:100%;
height:100px;
margin-top:130px;
display:flex;
align-items:center;
justify-content:space-evenly;
}
.apply-btn button{
width:220px;
height:100px;
font-size:17px;
border-radius:30px;
color:white;
border:1px solid white;
background:rgba(0,0,0,.0);
}
.btn:hover{
animation:pulsate 2s ease-in-out;
}
@keyframes pulsate {
     30%{
      box-shadow:
      0 0 50px #5ddcff;
      animation:infinite;
      }
      
   }
.content{
background-color:#FEECE2;
width:100%;
height:4200px;

}
.outer-1{
display:flex;
justify-content:space-evenly;

}
.who-we-are{
width:90%;
height:570px;
margin-top:50px;
background-color:white;
border-radius:30px;
}
.who-we-are img{
border-radius:30px;
height:300px;
}
.who-we-are h1{
font-size:35px;
margin-top:20px;
margin-left:20px;
height:80px;
}
.passage{
margin-left:20px;
width:90%;
Font-family:arial;
font-size:20px;
}

.outer-2{
margin-top:70px;
width:100%;
height:500px;
background-color:white;
display:flex;
justify-content:space-evenly;
}
.space{
height:450px;
width:360px;
position:absolute;
margin-top:100px;
text-align:center;
}
.outer-2 p{
font-family:arial;
font-size:28px;
}
.space img{
margin-top:20px;
width:80px;
height:80px;
border-radius:50%;
}
.faq{
margin-top:90px;
font-family:arial;
font-size:35px;
text-align:center;
}
.outer-3{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.how-do-i-apply{
width:90%;
height:260px;
background-color:white;
border-radius:30px;
}
.how-do-i-apply h2{
margin-top:20px;
margin-left:20px;
height:90px;
}

.outer-4{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.What-tech-roles{
width:90%;
height:300px;
background-color:white;
border-radius:30px;
}
.What-tech-roles h2{
margin-top:20px;
margin-left:20px;
height:90px;
}
.outer-5{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.fee-to-apply{
width:90%;
height:260px;
background-color:white;
border-radius:30px;
}
.fee-to-apply h2{
margin-top:20px;
margin-left:20px;
height:70px;
}
.outer-6 {
width:100%;
margin-top:180px;
display:flex;
justify-content:space-evenly;
}
.Apply-Now{
width:90%;
height:500px;
}
.Apply-Now p{
margin-top:40px;
font-size:20px;
}

.Apply-Now img{
border-radius:30px;
margin-top:50px;
}
.outer-7 {
width:100%;
margin-top:300px;
display:flex;
justify-content:space-evenly;
}
.opportunities{
width:90%;
height:500px;
}
.opportunities p{
margin-top:40px;
font-size:20px;
}

.opportunities img{
border-radius:30px;
margin-top:50px;
}
.content-2{
width:100%;
height:650px;
background-color:#FF5F00;
}
.c-image{
position:absolute;
width:100%;
height:200px;
margin-top:120px;
display:flex;
justify-content:space-evenly;
}
.c-image img{
width:55%;
height:100%;
border-radius:20px;
}
.c-text{
width:100%;
height:500px;
position:absolute;
margin-top:350px;
color:white;
text-align:center;
}
.c-text h1{
font-family:arial;
font-size:35px;
}
.c-text p{
margin-top:25px;
font-size:17px;
}
.c-text button{
width:30%;
height:11%;
margin-top:30px;
border:none;
border-radius:27px;
color:white;
font-size:20px;
background-color:#3652AD;
}
.outer-contact{
width:100%;
height:400px;
text-align:center;
}
.outer-contact p{
position:absolute;
font-size:35px;
margin-top:90px;
}

.contact-1{
width:100%;
height:100px;
position:absolute;
margin-top:170px;
display:flex;
justify-content:space-evenly;
align-items:center;
}
.contact-1 img{
border-radius:50%;
width:20%;
height:65%;
}
.tech-revolution{
width:100%;
height:600px;
background-color:#FFEBD8;
text-align:center;
}

.tech-revolution p{
position:absolute;
font-size:35px;
margin-top:100px;
}
.inner-tech-revolution{
position:absolute;
margin-top:220px;
}
.inner-tech-revolution input{
width:90%;
height:60px;
border-radius:35px;
font-size:20px;
margin-top:15px;
border:none;
}
.tech-revolution button{
margin-top:480px;
width:90%;
height:44px;
border-radius:20px;
border:none;
background-color:#3652AD;
color:white;
font-size:20px;
}
.get-in-touch{
width:100%;
height:250px;
}
.get-in-touch h2{
margin-top:30px;
margin-left:10px;
padding:20px;
width:70%;

}
.get-in-touch p{
background-color:yellow;
width:80%;
margin-top:8px;
margin-left:30px;
}






ul {
    margin: 0px;
    padding: 0px;
    
}
.footer-section {
 
 background-color:black;
  position: relative;
  
}
.footer-cta {
  border-bottom: 1px solid #373636;
  
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  
}
.cta-text {
  
  display: inline-block;
  
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  
}
.cta-text span {
  color: #757575;
  font-size: 15px;
  
}
.footer-content {
  position: relative;
  
  
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
  width:120px;
  height:70px;
  
}
.footer-logo img {
    max-width: 200px;
    
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
  
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
  
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
  
}
.footer-widget ul li a:hover{
 color: #ff5e14;
  
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  
}
.subscribe-form {
  
  position: relative;
  overflow: hidden;
  
}
.subscribe-form input {
  width: 83%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
    
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
    
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
  
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  
}
.copyright-text p a{
  color: #ff5e14;
  
}
.footer-menu li {
width:60%;
  display: inline-block;
 margin-left:px;
  
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.popup-location-menu{
width: 90%;
height:290px;
background-color:#C7C8CC;
border-radius: 20px;
position: absolute;
top: 80%;
transform: translate(-50%,-90%)scale(0.2);
z-index:7;
visibility:hidden;
transition:transform 0.15s ,top 0s;
}
.open-popup-menu{
visibility:visible;
top:-5%;
left:50%;
transform: translate(-50%,-50%)scale(1);
position:fixed;
}
.popup-head-menu{
color:black;
background-color:#C7C8CC;
border-top-left-radius:20px;
border-top-right-radius:20px;
height:40px;
display:flex;
text-align:center;
align-items:center;
border-bottom:2px solid black;
}

.popup-head-menu-signin i{
width:20px;
}
.popup-head-menu p{
text-align:center;
margin-right:580px;
width:50px;
}
#signin-text{
color:black;
}
.popup-head-menu-signin a{
color:black;
}

.close-btn {
position:absolute;
right:10px;
top:5px;
width:30px;
height:30px;
background:white;
color:black;;
font-size:30px;
font-weight:600;
line-height:30px;
text-align:center;
border-radius:50%
}

.menu {
list-style-type: none;
margin: 0;
padding: 0;
width:80%;
background-color:#C7C8CC ;
}
/* Style for the menu items */
.menu li {
display: inline-block;
}
/* Style for the links in the menu */

.menu li a {
display: block;
padding: 10px 20px;
text-decoration: none;
color: #333;
}
/* Style for the submenu */
.submenu {
display: none;
position: absolute;
top:40px;
width:60px;
background-color: #f9f9f9;
border: 1px solid #ccc;
}
/* Show the submenu on hover */
.menu li:hover .submenu {
//border:1px solid black;
display: block;
background-color:#C7C8CC;
left:10px;
top:90px;
width:257px;
}
/* Style for the submenu items */
.submenu li {
display: block;
}

/* Style for the links in the submenu */
.submenu li a {
padding: 10px 10px;
text-decoration: none;
color: #333;

}
.submenu1 {
display: none;
position: absolute;
top:40px;
width:60px;
background-color: #f9f9f9;
border: 1px solid #ccc;
}
/* Show the submenu on hover */
.menu li:hover .submenu1 {
//border:1px solid black;
display: block;
background-color:#C7C8CC;
left:10px;
top:170px;
width:257px;
}
/* Style for the submenu items */
.submenu1 li {
display: block;
}

/* Style for the links in the submenu */
.submenu1 li a {
padding: 10px 10px;
text-decoration: none;
color: #333;

}




































@media screen and (max-width: 600px){

.tech-photo-back{
width:100%;
height:700px;
background-color:black;
}
.techlogo{
position:absolute;
margin-top:150px;
margin-left:70px;
width:60%;
height:31%;
background-size:cover; 
visibility: hidden;
} 
 #logo{
  width: 100%;
  max-width: 300px;
  visibility:visible;
}
#logo {
  animation: rotate-logo 10s linear infinite;
}
@keyframes rotate-logo {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}    
.box{
position:relative;
width:359px;
height:700px;
background:transparent;
border:1px solid #fff;
z-index:1;

}
.box:before {
content: '';
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.5);
z-index:-1;

}
.menubar{
width:95%;
height:55px;
position:fixed;
border-radius:25px;
background-color:#C7C8CC;
margin-top:15px;
margin-left:8px;
display:flex;
align-items:center;
justify-content:space-evenly;
}
.circle-logo{
width:47px;
height:47px;
margin-left:-5px;
border-radius:50%;
background-size:cover;
}
.circle-logo img{
width:47px;
height:47px;
border-radius:50%;
}  
.menu-title{
width:210px;
height:40px;
font-size:18px;
}
.outer-bar{
width:43px;
height:43px;
}
.bar{
background-image:url("images/bar.png");
background-size:cover;
width:100%;
height:100%;
}
.main-box-text{
text-align:center;
margin-top:420px;
}
.main-box-text h1{
color:#FF6500;
font-size:40px;

}
.main-box-text p{
color:white;
}

.apply-btn{
width:100%;
height:100px;
margin-top:30px;
display:flex;
align-items:center;
justify-content:space-evenly;
}
.apply-btn button{
width:150px;
height:55px;
font-size:17px;
border-radius:30px;
color:white;
border:1px solid white;
background:rgba(0,0,0,.0);
}
.btn:hover{
animation:pulsate 2s ease-in-out;
}
@keyframes pulsate {
     30%{
      box-shadow:
      0 0 40px #5ddcff;
      animation:infinite;
      }
      
   }
.content{
background-color:#FEECE2;
width:100%;
height:3500px;
}


.outer-1{
display:flex;
justify-content:space-evenly;

}
.who-we-are{
width:90%;
height:570px;
margin-top:50px;
background-color:white;
border-radius:30px;
}
.who-we-are img{
border-radius:30px;
height:300px;
}
.who-we-are h1{
font-size:35px;
margin-top:20px;
margin-left:20px;
height:80px;
}
.passage{
margin-left:20px;
width:90%;
Font-family:arial;
font-size:20px;
}

.outer-2{
margin-top:70px;
width:100%;
height:500px;
background-color:white;
}
.space{
height:450px;
width:360px;
position:absolute;
margin-top:100px;
text-align:center;
}
.outer-2 p{
font-family:arial;
font-size:28px;
}
.space img{
margin-top:20px;
width:80px;
height:80px;
border-radius:50%;
}
.faq{
margin-top:90px;
font-family:arial;
font-size:35px;
text-align:center;
}
.outer-3{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.how-do-i-apply{
width:90%;
height:260px;
background-color:white;
border-radius:30px;
}
.how-do-i-apply h2{
margin-top:20px;
margin-left:20px;
height:90px;
}

.outer-4{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.What-tech-roles{
width:90%;
height:300px;
background-color:white;
border-radius:30px;
}
.What-tech-roles h2{
margin-top:20px;
margin-left:20px;
height:90px;
}
.outer-5{
display:flex;
justify-content:space-evenly;
margin-top:40px;
}
.fee-to-apply{
width:90%;
height:260px;
background-color:white;
border-radius:30px;
}
.fee-to-apply h2{
margin-top:20px;
margin-left:20px;
height:70px;
}
.outer-6 {
width:100%;
margin-top:160px;
display:flex;
justify-content:space-evenly;
}
.Apply-Now{
width:90%;
height:500px;
}
.Apply-Now p{
margin-top:40px;
font-size:20px;
}

.Apply-Now img{
border-radius:30px;
margin-top:50px;
}
.outer-7 {
width:100%;
margin-top:100px;
display:flex;
justify-content:space-evenly;
}
.opportunities{
width:90%;
height:500px;
}
.opportunities p{
margin-top:40px;
font-size:20px;
}

.opportunities img{
border-radius:30px;
margin-top:50px;
}
  .content-2{
width:100%;
height:650px;
background-color:#FF5F00;
}
.c-image{
position:absolute;
width:100%;
height:200px;
margin-top:120px;
display:flex;
justify-content:space-evenly;
}
.c-image img{
width:55%;
height:100%;
border-radius:20px;
}
.c-text{
width:100%;
height:500px;
position:absolute;
margin-top:350px;
color:white;
text-align:center;
}
.c-text h1{
font-family:arial;
font-size:35px;
}
.c-text p{
margin-top:25px;
font-size:17px;
}
.c-text button{
width:30%;
height:11%;
margin-top:30px;
border:none;
border-radius:27px;
color:white;
font-size:20px;
background-color:#3652AD;
}
.outer-contact{
width:100%;
height:400px;
text-align:center;
}
.outer-contact p{
position:absolute;
font-size:35px;
margin-top:90px;
}

.contact-1{
width:100%;
height:100px;
position:absolute;
margin-top:170px;
display:flex;
justify-content:space-evenly;
align-items:center;
}
.contact-1 img{
border-radius:50%;
width:20%;
height:65%;
}
.tech-revolution{
width:100%;
height:600px;
background-color:#FFEBD8;
text-align:center;
}

.tech-revolution p{
position:absolute;
font-size:35px;
margin-top:100px;
}
.inner-tech-revolution{
position:absolute;
margin-top:220px;
}
.inner-tech-revolution input{
width:90%;
height:60px;
border-radius:35px;
font-size:20px;
margin-top:15px;
border:none;
}
.tech-revolution button{
margin-top:480px;
width:90%;
height:44px;
border-radius:20px;
border:none;
background-color:#3652AD;
color:white;
font-size:20px;
}
.get-in-touch{
width:100%;
height:250px;
}
.get-in-touch h2{
margin-top:30px;
margin-left:10px;
padding:20px;
width:70%;

}
.get-in-touch p{
background-color:yellow;
width:80%;
margin-top:8px;
margin-left:30px;
}






ul {
    margin: 0px;
    padding: 0px;
    
}
.footer-section {
 
 background-color:black;
  position: relative;
  
}
.footer-cta {
  border-bottom: 1px solid #373636;
  
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  
}
.cta-text {
  
  display: inline-block;
  
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  
}
.cta-text span {
  color: #757575;
  font-size: 15px;
  
}
.footer-content {
  position: relative;
  
  
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
  width:120px;
  height:70px;
  
}
.footer-logo img {
    max-width: 200px;
    
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
  
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
  
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
  
}
.footer-widget ul li a:hover{
 color: #ff5e14;
  
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  
}
.subscribe-form {
  
  position: relative;
  overflow: hidden;
  
}
.subscribe-form input {
  width: 83%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
    
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
    
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
  
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  
}
.copyright-text p a{
  color: #ff5e14;
  
}
.footer-menu li {
width:60%;
  display: inline-block;
 margin-left:px;
  
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.popup-location-menu{
width: 90%;
height:290px;
background-color:#C7C8CC;
border-radius: 20px;
position: absolute;
top: 80%;
transform: translate(-50%,-90%)scale(0.2);
z-index:7;
visibility:hidden;
transition:transform 0.15s ,top 0s;
}
.open-popup-menu{
visibility:visible;
top: 31%;
left:50%;
transform: translate(-50%,-50%)scale(1);
position:fixed;
}
.popup-head-menu{
color:black;
background-color:#C7C8CC;
border-top-left-radius:20px;
border-top-right-radius:20px;
height:40px;
display:flex;
text-align:center;
align-items:center;
border-bottom:2px solid black;
}

.popup-head-menu-signin i{
width:20px;
}
.popup-head-menu p{
text-align:center;
margin-right:240px;
width:50px;
}
#signin-text{
color:black;
}
.popup-head-menu-signin a{
color:black;
}

.close-btn {
position:absolute;
right:10px;
top:5px;
width:30px;
height:30px;
background:white;
color:black;;
font-size:30px;
font-weight:600;
line-height:30px;
text-align:center;
border-radius:50%
}

.menu {
list-style-type: none;
margin: 0;
padding: 0;
width:80%;
background-color:#C7C8CC ;
}
/* Style for the menu items */
.menu li {
display: inline-block;
}
/* Style for the links in the menu */

.menu li a {
display: block;
padding: 10px 20px;
text-decoration: none;
color: #333;
}
/* Style for the submenu */
.submenu {
display: none;
position: absolute;
top:40px;
width:60px;
background-color: #f9f9f9;
border: 1px solid #ccc;
}
/* Show the submenu on hover */
.menu li:hover .submenu {
//border:1px solid black;
display: block;
background-color:#C7C8CC;
left:10px;
top:90px;
width:257px;
}
/* Style for the submenu items */
.submenu li {
display: block;
}

/* Style for the links in the submenu */
.submenu li a {
padding: 10px 10px;
text-decoration: none;
color: #333;

}
.submenu1 {
display: none;
position: absolute;
top:40px;
width:60px;
background-color: #f9f9f9;
border: 1px solid #ccc;
}
/* Show the submenu on hover */
.menu li:hover .submenu1 {
//border:1px solid black;
display: block;
background-color:#C7C8CC;
left:10px;
top:170px;
width:257px;
}
/* Style for the submenu items */
.submenu1 li {
display: block;
}

/* Style for the links in the submenu */
.submenu1 li a {
padding: 10px 10px;
text-decoration: none;
color: #333;

  }
  
  
}
