*{
margin: 0;
width:100%;
height:auto;
font-family: Arial;
border: border-box;
}
.body{
background-color:#FEECE2;
}
.techback-logo{
background-image:url("image/techlogo.jpg");
background-size:cover;
width:100%;
height:700px;

}
